body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
}
h1{
  color: #ffff;
  font-size: 3.3rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15%;
}
.img{
  height: 500px;
  transform: rotate(27deg);
  margin: .5rem 5rem;
  position: absolute;
  right: 17%;
}
.navbar-brand{
  font-size: 2.5rem;
  font-family: "Ubuntu";
}
.nav-link{
  color: white;
  font-family: "Montserrat";
  font-size: 0.9rem;
}
.nav-item{
  padding: 0 16px;
}
.row{
  margin-top: 2rem;
  /* height: 21.875rem; */
}
.btn{
  margin: 5% 3% 5% 0;
}

/* Feature Section */
#features{
  width: 100%;
  padding: 2% 15%;
  background-color: #fff;
  position: relative;
}
.icon{
  color: #ef8172;
  margin: 1rem auto;
}
.icon:hover{
  color: #ff4c68;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

/* Testimonials Section */
#testimonials{
  text-align: center;

  color: #fff;
  background-color: #ef8172;
}
.carousel-item{
  padding: 7% 12%;
}
.testimonial-image{
  width: 10%;
  margin: 2%;
  border-radius: 100%;
}
#press{
  background-color:#ef8172;
  text-align: center;
  padding: 3% 0;
}
.press-logo{
  width: 13%;
  margin: 20px;
}

/* Pricing section */
#pricing{
  padding: 100px;
  text-align:center;
}
.pricing-sec{
  padding: 3% 2%;
}

/*Contact to section*/
#cta{
  padding: 6% 25%;
  text-align: center;
  background-color: #ff4c68;
  color: white;
  font-style: "Montserrat";
  font-weight: bold;

}
.btn-ftr{
  margin: 6% 1%;
  font-weight: normal;
}
.heading{
  font-size: 2.3rem;
}

/* footer section */
#footer{
  font-size: 1.2rem;
  background-color: #fff;
  height: 100px;
  text-align: center;
  margin: 45px 0;

}
.icon-ftr{
  margin: 20px 10px;
}

/* Medida Quries */

@media (max-width:1000px) {
  #title{
    text-align: center;
  }
  .img{
    position: static;
    transform: rotate(0deg);
  }
  h1{
    font-size: 2.7rem;
  }
  h2{
    font-size: 1.5rem;
  }
  .heading{
    font-size: 1.5rem;
  }
  #cta{
    padding: 12% 18%;
  }
}
@media (max-width:550px){
  #cta{
    padding: 12% 18%;
  }
  .btn-ftr {
    font-size: 12px;
  }
  /* .heading{
    font-size: 1rem;
  } */

}
